data_model/cim16/DiagramLayout.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>This package describes diagram layout. This describes how objects are arranged in a coordianate system rather than how they are rendered.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Domain.xsd"/>
	<xs:include schemaLocation="Core.xsd"/>
	<xs:element name="Diagram" type="Diagram"/>
	<xs:complexType name="Diagram">
		<xs:annotation>
			<xs:documentation>The diagram being exchanged.  The coordinate system is a standard Cartesian coordinate system and the orientation attribute defines the orientation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="orientation" type="OrientationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Coordinate system orientation of the diagram.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x1InitialView" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>X coordinate of the first corner of the initial view.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x2InitialView" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>X coordinate of the second corner of the initial view.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="y1InitialView" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Y coordinate of the first corner of the initial view.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="y2InitialView" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Y coordinate of the second corner of the initial view.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiagramObject" type="DiagramObject"/>
	<xs:complexType name="DiagramObject">
		<xs:annotation>
			<xs:documentation>An object that defines one or more points in a given space. This object can be associated with anything that specializes IdentifiedObject. For single line diagrams such objects typically include such items as analog values, breakers, disconnectors, power transformers, and transmission lines.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="drawingOrder" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The drawing order of this element. The higher the number, the later the element is drawn in sequence. This is used to ensure that elements that overlap are rendered in the correct order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isPolygon" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines whether or not the diagram objects points define the boundaries of a polygon or the routing of a polyline. If this value is true then a receiving application should consider the first and last points to be connected.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offsetX" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The offset in the X direction. This is used for defining the offset from centre for rendering an icon (the default is that a single point specifies the centre of the icon).

The offset is in per-unit with 0 indicating there is no offset from the horizontal centre of the icon.  -0.5 indicates it is offset by 50% to the left and 0.5 indicates an offset of 50% to the right.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offsetY" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The offset in the Y direction. This is used for defining the offset from centre for rendering an icon (the default is that a single point specifies the centre of the icon).

The offset is in per-unit with 0 indicating there is no offset from the vertical centre of the icon.  The offset direction is dependent on the orientation of the diagram, with -0.5 and 0.5 indicating an offset of +/- 50% on the vertical axis.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rotation" type="AngleDegrees" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sets the angle of rotation of the diagram object.  Zero degrees is pointing to the top of the diagram.  Rotation is clockwise.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Diagram" type="Diagram" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A diagram object is part of a diagram.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VisibilityLayers" type="VisibilityLayer" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A diagram object can be part of multiple visibility layers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiagramObjectPoints" type="DiagramObjectPoint" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A diagram object can have 0 or more points to reflect its layout position, routing (for polylines) or boundary (for polygons).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiagramObjectStyle" type="DiagramObjectStyle" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A diagram object has a style associated that provides a reference for the style used in the originating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiagramObjectGluePoint" type="DiagramObjectGluePoint"/>
	<xs:complexType name="DiagramObjectGluePoint">
		<xs:annotation>
			<xs:documentation>This is used for grouping diagram object points from different diagram objects that are considered to be glued together in a diagram even if they are not at the exact same coordinates.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DiagramObjectPoint" type="DiagramObjectPoint"/>
	<xs:complexType name="DiagramObjectPoint">
		<xs:annotation>
			<xs:documentation>A point in a given space defined by 3 coordinates and associated to a diagram object.  The coordinates may be positive or negative as the origin does not have to be in the corner of a diagram.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sequenceNumber" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The sequence position of the point, used for defining the order of points for diagram objects acting as a polyline or polygon with more than one point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xPosition" type="Float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The X coordinate of this point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yPosition" type="Float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Y coordinate of this point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zPosition" type="Float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Z coordinate of this point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagramObjectGluePoint" type="DiagramObjectGluePoint" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The 'glue' point to which this point is associated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DiagramObjectStyle" type="DiagramObjectStyle"/>
	<xs:complexType name="DiagramObjectStyle">
		<xs:annotation>
			<xs:documentation>A reference to a style used by the originating system for a diagram object.  A diagram object style describes information such as line thickness, shape such as circle or rectangle etc, and color.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiagramStyle" type="DiagramStyle"/>
	<xs:complexType name="DiagramStyle">
		<xs:annotation>
			<xs:documentation>The diagram style refer to a style used by the originating system for a diagram.  A diagram style describes information such as schematic, geographic, bus-branch etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="Diagram" type="Diagram" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A DiagramStyle can be used by many Diagrams.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="OrientationKind">
		<xs:annotation>
			<xs:documentation>The orientation of the coordinate system with respect to top, left, and the coordinate number system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="positive">
				<xs:annotation>
					<xs:documentation>For 2D diagrams, a positive orientation will result in X values increasing from left to right and Y values increasing from bottom to top.  This is also known as a right hand orientation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="negative">
				<xs:annotation>
					<xs:documentation>For 2D diagrams, a negative orientation gives the left-hand orientation (favoured by computer graphics displays) with X values increasing from left to right and Y values increasing from top to bottom.   This is also known as a left hand orientation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TextDiagramObject" type="TextDiagramObject"/>
	<xs:complexType name="TextDiagramObject">
		<xs:annotation>
			<xs:documentation>A diagram object for placing free-text or text derived from an associated domain object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DiagramObject">
				<xs:sequence>
					<xs:element name="text" type="String" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The text that is displayed by this text diagram object.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VisibilityLayer" type="VisibilityLayer"/>
	<xs:complexType name="VisibilityLayer">
		<xs:annotation>
			<xs:documentation>Layers are typically used for grouping diagram objects according to themes and scales. Themes are used to display or hide certain information (e.g., lakes, borders), while scales are used for hiding or displaying information depending on the current zoom level (hide text when it is too small to be read, or when it exceeds the screen size). This is also called de-cluttering.

CIM based graphics exchange will support an m:n relationship between diagram objects and layers. It will be the task of the importing system to convert an m:n case into an appropriate 1:n representation if the importing system does not support m:n.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="drawingOrder" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The drawing order for this layer.  The higher the number, the later the layer and the objects within it are rendered.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
