data_model/cim16/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>The domain package define primitive datatypes that are used by classes in other packages. Stereotypes are used to describe the datatypes. The following stereotypes are defined:
&lt;&lt;enumeration&gt;&gt; A list of permissible constant values.
&lt;&lt;Primitive&gt;&gt; The most basic data types used to compose all other data types.
&lt;&lt;CIMDatatype&gt;&gt; A datatype that contains a value attribute, an optional unit of measure and a unit multiplier. The unit and multiplier may be specified as a static variable initialized to the allowed value.
&lt;&lt;Compound&gt;&gt; A composite of Primitive, enumeration, CIMDatatype or othe Compound classes, as long as the Compound classes do not recurse.</xs:documentation>
	</xs:annotation>
	<xs:element name="ActivePower" type="ActivePower"/>
	<xs:complexType name="ActivePower">
		<xs:annotation>
			<xs:documentation>Product of RMS value of the voltage and the RMS value of the in-phase component of the current.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivePowerChangeRate" type="ActivePowerChangeRate"/>
	<xs:complexType name="ActivePowerChangeRate">
		<xs:annotation>
			<xs:documentation>Rate of change of active power per time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivePowerPerCurrentFlow" type="ActivePowerPerCurrentFlow"/>
	<xs:complexType name="ActivePowerPerCurrentFlow">
		<xs:sequence>
			<xs:element name="demoninatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivePowerPerFrequency" type="ActivePowerPerFrequency"/>
	<xs:complexType name="ActivePowerPerFrequency">
		<xs:annotation>
			<xs:documentation>Active power variation with frequency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Admittance" type="Admittance"/>
	<xs:complexType name="Admittance">
		<xs:annotation>
			<xs:documentation>Ratio of current to voltage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AngleDegrees" type="AngleDegrees"/>
	<xs:complexType name="AngleDegrees">
		<xs:annotation>
			<xs:documentation>Measurement of angle in degrees.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AngleRadians" type="AngleRadians"/>
	<xs:complexType name="AngleRadians">
		<xs:annotation>
			<xs:documentation>Phase angle in radians.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ApparentPower" type="ApparentPower"/>
	<xs:complexType name="ApparentPower">
		<xs:annotation>
			<xs:documentation>Product of the RMS value of the voltage and the RMS value of the current.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Area" type="Area"/>
	<xs:complexType name="Area">
		<xs:annotation>
			<xs:documentation>Area.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Boolean" type="Boolean"/>
	<xs:complexType name="Boolean">
		<xs:annotation>
			<xs:documentation>A type with the value space "true" and "false".</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Capacitance" type="Capacitance"/>
	<xs:complexType name="Capacitance">
		<xs:annotation>
			<xs:documentation>Capacitive part of reactance (imaginary part of impedance), at rated frequency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CapacitancePerLength" type="CapacitancePerLength"/>
	<xs:complexType name="CapacitancePerLength">
		<xs:annotation>
			<xs:documentation>Capacitance per unit of length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Conductance" type="Conductance"/>
	<xs:complexType name="Conductance">
		<xs:annotation>
			<xs:documentation>Factor by which voltage must be multiplied to give corresponding power lost from a circuit. Real part of admittance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConductancePerLength" type="ConductancePerLength"/>
	<xs:complexType name="ConductancePerLength">
		<xs:annotation>
			<xs:documentation>Real part of admittance per unit of length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CostPerEnergyUnit" type="CostPerEnergyUnit"/>
	<xs:complexType name="CostPerEnergyUnit">
		<xs:annotation>
			<xs:documentation>Cost, in units of currency, per quantity of electrical energy generated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CostPerVolume" type="CostPerVolume"/>
	<xs:complexType name="CostPerVolume">
		<xs:annotation>
			<xs:documentation>Cost per unit volume.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CostRate" type="CostRate"/>
	<xs:complexType name="CostRate">
		<xs:annotation>
			<xs:documentation>Cost, in units of currency, per elapsed time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Currency">
		<xs:annotation>
			<xs:documentation>Monetary currencies. Apologies for this list not being exhaustive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="USD">
				<xs:annotation>
					<xs:documentation>US dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUR">
				<xs:annotation>
					<xs:documentation>European euro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AUD">
				<xs:annotation>
					<xs:documentation>Australian dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAD">
				<xs:annotation>
					<xs:documentation>Canadian dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHF">
				<xs:annotation>
					<xs:documentation>Swiss francs</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CNY">
				<xs:annotation>
					<xs:documentation>Chinese yuan renminbi</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DKK">
				<xs:annotation>
					<xs:documentation>Danish crown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GBP">
				<xs:annotation>
					<xs:documentation>British pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JPY">
				<xs:annotation>
					<xs:documentation>Japanese yen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOK">
				<xs:annotation>
					<xs:documentation>Norwegian crown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RUR">
				<xs:annotation>
					<xs:documentation>Russian ruble</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEK">
				<xs:annotation>
					<xs:documentation>Swedish crown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INR">
				<xs:annotation>
					<xs:documentation>India rupees</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Another type of currency.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CurrentFlow" type="CurrentFlow"/>
	<xs:complexType name="CurrentFlow">
		<xs:annotation>
			<xs:documentation>Electrical current with sign convention: positive flow is out of the conducting equipment into the connectivity node. Can be both AC and DC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Damping" type="Damping"/>
	<xs:complexType name="Damping">
		<xs:annotation>
			<xs:documentation>Per-unit active power variation with frequency referenced on the system apparent power base. Typical values are in range 1.0 - 2.0.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Date" type="Date"/>
	<xs:complexType name="Date">
		<xs:annotation>
			<xs:documentation>Date as "yyyy-mm-dd", which conforms with ISO 8601. UTC time zone is specified as "yyyy-mm-ddZ". A local timezone relative UTC is specified as "yyyy-mm-dd(+/-)hh:mm".</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DateInterval" type="DateInterval"/>
	<xs:complexType name="DateInterval">
		<xs:annotation>
			<xs:documentation>Interval between two dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="end" type="Date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End date of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" type="Date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start date of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DateTime" type="DateTime"/>
	<xs:complexType name="DateTime">
		<xs:annotation>
			<xs:documentation>Date and time as "yyyy-mm-ddThh:mm:ss.sss", which conforms with ISO 8601. UTC time zone is specified as "yyyy-mm-ddThh:mm:ss.sssZ". A local timezone relative UTC is specified as "yyyy-mm-ddThh:mm:ss.sss-hh:mm". The second component (shown here as "ss.sss") could have any number of digits in its fractional part to allow any kind of precision beyond seconds.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DateTimeInterval" type="DateTimeInterval"/>
	<xs:complexType name="DateTimeInterval">
		<xs:annotation>
			<xs:documentation>Interval between two date and time points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="end" type="DateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End date and time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" type="DateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start date and time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Decimal" type="Decimal"/>
	<xs:complexType name="Decimal">
		<xs:annotation>
			<xs:documentation>Decimal is the base-10 notational system for representing real numbers.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DecimalQuantity" type="DecimalQuantity"/>
	<xs:complexType name="DecimalQuantity">
		<xs:sequence>
			<xs:element name="currency" type="Currency" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity with decimal value and associated unit or currency information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Decimal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Displacement" type="Displacement"/>
	<xs:complexType name="Displacement">
		<xs:annotation>
			<xs:documentation>Unit of displacement relative a reference position, hence can be negative.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Duration" type="Duration"/>
	<xs:complexType name="Duration">
		<xs:annotation>
			<xs:documentation>Duration as "PnYnMnDTnHnMnS" which conforms to ISO 8601, where nY expresses a number of years, nM a number of months, nD a number of days. The letter T separates the date expression from the time expression and, after it, nH identifies a number of hours, nM a number of minutes and nS a number of seconds. The number of seconds could be expressed as a decimal number, but all other numbers are integers.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Float" type="Float"/>
	<xs:complexType name="Float">
		<xs:annotation>
			<xs:documentation>A floating point number. The range is unspecified and not limited.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="FloatQuantity" type="FloatQuantity"/>
	<xs:complexType name="FloatQuantity">
		<xs:annotation>
			<xs:documentation>Quantity with float value and associated unit information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Frequency" type="Frequency"/>
	<xs:complexType name="Frequency">
		<xs:annotation>
			<xs:documentation>Cycles per second.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Hours" type="Hours"/>
	<xs:complexType name="Hours">
		<xs:annotation>
			<xs:documentation>Time specified in hours.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Impedance" type="Impedance"/>
	<xs:complexType name="Impedance">
		<xs:annotation>
			<xs:documentation>Ratio of voltage to current.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Inductance" type="Inductance"/>
	<xs:complexType name="Inductance">
		<xs:annotation>
			<xs:documentation>Inductive part of reactance (imaginary part of impedance), at rated frequency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InductancePerLength" type="InductancePerLength"/>
	<xs:complexType name="InductancePerLength">
		<xs:annotation>
			<xs:documentation>Inductance per unit of length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integer" type="Integer"/>
	<xs:complexType name="Integer">
		<xs:annotation>
			<xs:documentation>An integer number. The range is unspecified and not limited.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="IntegerQuantity" type="IntegerQuantity"/>
	<xs:complexType name="IntegerQuantity">
		<xs:annotation>
			<xs:documentation>Quantity with integer value and associated unit information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KiloActivePower" type="KiloActivePower"/>
	<xs:complexType name="KiloActivePower">
		<xs:annotation>
			<xs:documentation>Active power in kilowatts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Length" type="Length"/>
	<xs:complexType name="Length">
		<xs:annotation>
			<xs:documentation>Unit of length. Never negative.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Minutes" type="Minutes"/>
	<xs:complexType name="Minutes">
		<xs:annotation>
			<xs:documentation>Time in minutes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Money" type="Money"/>
	<xs:complexType name="Money">
		<xs:annotation>
			<xs:documentation>Amount of money.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Decimal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MonthDay" type="MonthDay"/>
	<xs:complexType name="MonthDay">
		<xs:annotation>
			<xs:documentation>MonthDay format as "--mm-dd", which conforms with XSD data type gMonthDay.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="MonthDayInterval" type="MonthDayInterval"/>
	<xs:complexType name="MonthDayInterval">
		<xs:annotation>
			<xs:documentation>Interval between two times specified as mont and date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="end" type="MonthDay" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" type="MonthDay" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PerCent" type="PerCent"/>
	<xs:complexType name="PerCent">
		<xs:annotation>
			<xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Normally 0 - 100 on a defined base</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Pressure" type="Pressure"/>
	<xs:complexType name="Pressure">
		<xs:annotation>
			<xs:documentation>Pressure in Pascal.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PU" type="PU"/>
	<xs:complexType name="PU">
		<xs:annotation>
			<xs:documentation>Per Unit - a positive or negative value referred to a defined base. Values typically range from -10 to +10.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Reactance" type="Reactance"/>
	<xs:complexType name="Reactance">
		<xs:annotation>
			<xs:documentation>Reactance (imaginary part of impedance), at rated frequency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReactancePerLength" type="ReactancePerLength"/>
	<xs:complexType name="ReactancePerLength">
		<xs:annotation>
			<xs:documentation>Reactance (imaginary part of impedance) per unit of length, at rated frequency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReactivePower" type="ReactivePower"/>
	<xs:complexType name="ReactivePower">
		<xs:annotation>
			<xs:documentation>Product of RMS value of the voltage and the RMS value of the quadrature component of the current.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RealEnergy" type="RealEnergy"/>
	<xs:complexType name="RealEnergy">
		<xs:annotation>
			<xs:documentation>Real electrical energy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Resistance" type="Resistance"/>
	<xs:complexType name="Resistance">
		<xs:annotation>
			<xs:documentation>Resistance (real part of impedance).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResistancePerLength" type="ResistancePerLength"/>
	<xs:complexType name="ResistancePerLength">
		<xs:annotation>
			<xs:documentation>Resistance (real part of impedance) per unit of length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RotationSpeed" type="RotationSpeed"/>
	<xs:complexType name="RotationSpeed">
		<xs:annotation>
			<xs:documentation>Number of revolutions per second.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Seconds" type="Seconds"/>
	<xs:complexType name="Seconds">
		<xs:annotation>
			<xs:documentation>Time, in seconds.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time, in seconds</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Speed" type="Speed"/>
	<xs:complexType name="Speed">
		<xs:annotation>
			<xs:documentation>Distance per unit of time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="String" type="String"/>
	<xs:complexType name="String">
		<xs:annotation>
			<xs:documentation>A string consisting of a sequence of characters. The character encoding is UTF-8. The string length is unspecified and unlimited.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="StringQuantity" type="StringQuantity"/>
	<xs:complexType name="StringQuantity">
		<xs:annotation>
			<xs:documentation>Quantity with string value (when it is not important whether it is an integral or a floating point number) and associated unit information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="String" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Susceptance" type="Susceptance"/>
	<xs:complexType name="Susceptance">
		<xs:annotation>
			<xs:documentation>Imaginary part of admittance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SusceptancePerLength" type="SusceptancePerLength"/>
	<xs:complexType name="SusceptancePerLength">
		<xs:annotation>
			<xs:documentation>Imaginary part of admittance per unit of length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Temperature" type="Temperature"/>
	<xs:complexType name="Temperature">
		<xs:annotation>
			<xs:documentation>Value of temperature in degrees Celsius.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Time" type="Time"/>
	<xs:complexType name="Time">
		<xs:annotation>
			<xs:documentation>Time as "hh:mm:ss.sss", which conforms with ISO 8601. UTC time zone is specified as "hh:mm:ss.sssZ". A local timezone relative UTC is specified as "hh:mm:ss.sss±hh:mm". The second component (shown here as "ss.sss") could have any number of digits in its fractional part to allow any kind of precision beyond seconds.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="TimeInterval" type="TimeInterval"/>
	<xs:complexType name="TimeInterval">
		<xs:annotation>
			<xs:documentation>Interval between two times.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="end" type="Time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" type="Time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start time of this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UnitMultiplier">
		<xs:annotation>
			<xs:documentation>The unit multipliers defined for the CIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="p">
				<xs:annotation>
					<xs:documentation>Pico 10**-12.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="n">
				<xs:annotation>
					<xs:documentation>Nano 10**-9.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="micro">
				<xs:annotation>
					<xs:documentation>Micro 10**-6.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m">
				<xs:annotation>
					<xs:documentation>Milli 10**-3.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="c">
				<xs:annotation>
					<xs:documentation>Centi 10**-2.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="d">
				<xs:annotation>
					<xs:documentation>Deci 10**-1.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="k">
				<xs:annotation>
					<xs:documentation>Kilo 10**3.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Mega 10**6.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>Giga 10**9.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>Tera 10**12.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="none">
				<xs:annotation>
					<xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitSymbol">
		<xs:annotation>
			<xs:documentation>The units defined for usage in the CIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>Apparent power in volt ampere.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>Active power in watt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAr">
				<xs:annotation>
					<xs:documentation>Reactive power in volt ampere reactive.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAh">
				<xs:annotation>
					<xs:documentation>Apparent energy in volt ampere hours.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wh">
				<xs:annotation>
					<xs:documentation>Real energy in what hours.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VArh">
				<xs:annotation>
					<xs:documentation>Reactive energy in volt ampere reactive hours.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V">
				<xs:annotation>
					<xs:documentation>Voltage in volt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ohm">
				<xs:annotation>
					<xs:documentation>Resistance in ohm.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Current in ampere.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>Capacitance in farad.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>Inductance in henry.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="degC">
				<xs:annotation>
					<xs:documentation>Relative temperature in degrees Celsius. In the SI unit system the symbol is ºC. Electric charge is measured in coulomb that has the unit symbol C. To distinguish degree Celsius form coulomb the symbol used in the UML is degC. Reason for not using ºC is the special character º is difficult to manage in software.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="s">
				<xs:annotation>
					<xs:documentation>Time in seconds.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="min">
				<xs:annotation>
					<xs:documentation>Time in minutes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="h">
				<xs:annotation>
					<xs:documentation>Time in hours.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="deg">
				<xs:annotation>
					<xs:documentation>Plane angle in degrees.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rad">
				<xs:annotation>
					<xs:documentation>Plane angle in radians.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J">
				<xs:annotation>
					<xs:documentation>Energy in joule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Force in newton.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Conductance in siemens.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="none">
				<xs:annotation>
					<xs:documentation>Dimension less quantity, e.g. count, per unit, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Hz">
				<xs:annotation>
					<xs:documentation>Frequency in hertz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="g">
				<xs:annotation>
					<xs:documentation>Mass in gram.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pa">
				<xs:annotation>
					<xs:documentation>Pressure in pascal (n/m2).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m">
				<xs:annotation>
					<xs:documentation>Length in meter.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m2">
				<xs:annotation>
					<xs:documentation>Area in square meters.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m3">
				<xs:annotation>
					<xs:documentation>Volume in cubic meters.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Voltage" type="Voltage"/>
	<xs:complexType name="Voltage">
		<xs:annotation>
			<xs:documentation>Electrical voltage, can be both AC and DC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VoltagePerReactivePower" type="VoltagePerReactivePower"/>
	<xs:complexType name="VoltagePerReactivePower">
		<xs:annotation>
			<xs:documentation>Voltage variation with reactive power.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Volume" type="Volume"/>
	<xs:complexType name="Volume">
		<xs:annotation>
			<xs:documentation>Volume.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VolumeFlowRate" type="VolumeFlowRate"/>
	<xs:complexType name="VolumeFlowRate">
		<xs:annotation>
			<xs:documentation>Volume per time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="denominatorMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="denominatorUnit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WaterLevel" type="WaterLevel"/>
	<xs:complexType name="WaterLevel">
		<xs:annotation>
			<xs:documentation>Reservoir water level referred to a given datum such as mean sea level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Weight" type="Weight"/>
	<xs:complexType name="Weight">
		<xs:annotation>
			<xs:documentation>The weight of an object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
