data_model/Equivalents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>The equivalents package models equivalent networks.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Domain.xsd"/>
	<xs:include schemaLocation="Core.xsd"/>
	<xs:element name="EquivalentBranch" type="EquivalentBranch"/>
	<xs:complexType name="EquivalentBranch">
		<xs:annotation>
			<xs:documentation>The class represents equivalent branches.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EquivalentEquipment">
				<xs:sequence>
					<xs:element name="negativeR12" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence series resistance from terminal sequence  1 to terminal sequence 2. Used for short circuit data exchange according to IEC 60909
EquivalentBranch is a result of network reduction prior to the data exchange </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="negativeR21" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence series resistance from terminal sequence 2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909
EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="negativeX12" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence series reactance from terminal sequence  1 to terminal sequence 2. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="negativeX21" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence series reactance from terminal sequence 2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909.
Usage: EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positiveR12" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series resistance from terminal sequence  1 to terminal sequence 2 . Used for short circuit data exchange according to IEC 60909. 
EquivalentBranch is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positiveR21" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series resistance from terminal sequence 2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909
EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positiveX12" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series reactance from terminal sequence  1 to terminal sequence 2. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positiveX21" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series reactance from terminal sequence 2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series resistance of the reduced branch.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r21" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Resistance from terminal sequence 2 to terminal sequence 1 .Used for steady state power flow. This attribute is optional and represent unbalanced network such as off-nominal phase shifter. If only EquivalentBranch.r is given, then EquivalentBranch.r21 is assumed equal to EquivalentBranch.r.
Usage rule : EquivalentBranch is a result of network reduction prior to the data exchange.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence series reactance of the reduced branch.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x21" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reactance from terminal sequence 2 to terminal sequence 1 .Used for steady state power flow. This attribute is optional and represent unbalanced network such as off-nominal phase shifter. If only EquivalentBranch.x is given, then EquivalentBranch.x21 is assumed equal to EquivalentBranch.x.
Usage rule : EquivalentBranch is a result of network reduction prior to the data exchange.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeroR12" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence series resistance from terminal sequence  1 to terminal sequence 2. Used for short circuit data exchange according to IEC 60909
EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeroR21" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence series resistance from terminal sequence  2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeroX12" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence series reactance from terminal sequence  1 to terminal sequence 2. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeroX21" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence series reactance from terminal sequence 2 to terminal sequence 1. Used for short circuit data exchange according to IEC 60909
Usage : EquivalentBranch is a result of network reduction prior to the data exchange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EquivalentEquipment" type="EquivalentEquipment"/>
	<xs:complexType name="EquivalentEquipment">
		<xs:annotation>
			<xs:documentation>The class represents equivalent objects that are the result of a network reduction. The class is the base for equivalent objects of different types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ConductingEquipment">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EquivalentInjection" type="EquivalentInjection"/>
	<xs:complexType name="EquivalentInjection">
		<xs:annotation>
			<xs:documentation>This class represents equivalent injections (generation or load).  Voltage regulation is allowed only at the point of connection.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EquivalentEquipment">
				<xs:sequence>
					<xs:element name="maxP" type="ActivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum active power of the injection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxQ" type="ReactivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Used for modeling of infeed for load flow exchange. Not used for short circuit modeling.  If maxQ and minQ are not used ReactiveCapabilityCurve can be used.   </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minP" type="ActivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Minimum active power of the injection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minQ" type="ReactivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Used for modeling of infeed for load flow exchange. Not used for short circuit modeling.  If maxQ and minQ are not used ReactiveCapabilityCurve can be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="p" type="ActivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Equivalent active power injection. Load sign convention is used, i.e. positive sign means flow out from a node.
Starting value for steady state solutions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="q" type="ReactivePower" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Equivalent reactive power injection. Load sign convention is used, i.e. positive sign means flow out from a node.
Starting value for steady state solutions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence resistance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r0" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence resistance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r2" type="Resistance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence resistance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulationCapability" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies whether or not the EquivalentInjection has the capability to regulate the local voltage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulationStatus" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the default regulation status of the EquivalentInjection.  True is regulating.  False is not regulating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulationTarget" type="Voltage" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The target voltage for voltage regulation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence reactance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x0" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zero sequence reactance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="x2" type="Reactance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Negative sequence reactance. Used to represent Extended-Ward (IEC 60909).
Usage : Extended-Ward is a result of network reduction prior to the data exchange. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EquivalentNetwork" type="EquivalentNetwork"/>
	<xs:complexType name="EquivalentNetwork">
		<xs:annotation>
			<xs:documentation>A class that represents an external meshed network that has been reduced to an electrically equivalent model. The ConnectivityNodes contained in the equivalent are intended to reflect internal nodes of the equivalent. The boundary Connectivity nodes where the equivalent connects outside itself are NOT contained by the equivalent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ConnectivityNodeContainer">
				<xs:sequence>
					<xs:element name="EquivalentEquipments" type="EquivalentEquipment" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The equivalent where the reduced model belongs.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EquivalentShunt" type="EquivalentShunt"/>
	<xs:complexType name="EquivalentShunt">
		<xs:annotation>
			<xs:documentation>The class represents equivalent shunts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EquivalentEquipment">
				<xs:sequence>
					<xs:element name="b" type="Susceptance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence shunt susceptance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="g" type="Conductance" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Positive sequence shunt conductance.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
